.hidden {
  visibility: hidden;
}

.popup {
  z-index: 99999;
  position: fixed;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.popup::before {
  content: "";
  position: fixed;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.page {
  padding: 54px 32px;
  /* padding: 3% 2%; */
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  line-height: 120%;
  margin-top: 240px;
  box-sizing: border-box;
  min-width: 350px;
  max-width: 392px;
  background-color: white;
  position: relative;
}

.sign-up-title {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-bottom: 9%;
}

.sign-up-title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
  opacity: 0.6;
}

.form-group {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  color: #000000;
  padding-bottom: 9%;
  width: 100%;
}

.select {
  width: 100%;
  height: 48px;
  padding-left: 18px;
  border: 1px #b59f5b;
  background-color: #f4f7f6;
  font-family: Arial, sans-serif;
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px 20px;
  margin-top: 0.6em;
}

.select:focus {
  outline: 2px solid #b59f5b;
}

.radio-control {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  top: 5px;
  border-radius: 50%;
  position: relative;
  border: 2px solid #b59f5b;
}

.radio-text {
  line-height: 150%;
}

.radio-input:checked+.radio-content .radio-control {
  background-image: url("../svg/form-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.radio-input {
  display: none;
}

.checkbox-text {
  display: inline-block;
}

.checkbox-text::before {
  content: "";
  margin-right: 8px;
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.checkbox:checked+.checkbox-text::before {
  background-image: url("../svg/form-circle.svg");
  background-repeat: no-repeat;
  background-size: 20px;
}

.checkbox:focus~.checkbox-text::before {
  outline: 2px solid #b59f5b;
  outline-offset: 2px;
}

.checkbox {
  display: none;
}

.radio {
  display: inline-block;
  padding-right: 10px;
}

.textarea {
  width: 100%;
  min-height: 125px;
  font-family: inherit;
  border: #000000;
  background-color: #f4f7f6;
  padding: 20px;
  margin-top: 10px;
}

.textarea:focus {
  outline: 2px solid #b59f5b;
}

.button {
  font-family: inherit;
  width: 100%;
  min-height: 50px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #b59f5b;
  border: #000000;
}

.button:hover {
  background-color: #757776;
}

.popup-close {
  width: 1.4em;
  height: 1em;
  font-size: 16px;
  position: absolute;
  top: -1.5em;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;
}

.popup-close:before,
.popup-close:after {
  content: "";
  width: 1.4em;
  height: 0.2em;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.popup-close:after {
  content: "";
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup-close:before {
  content: "";
  transform: translate(-50%, -50%) rotate(45deg);
}


@media screen and (max-width: 1199px) {

  .popup-close {
    font-size: 22px;
  }

  .page {
    margin-top: 235px;
    padding: 52px 32px;
  }

  .sign-up-title {
    font-size: 18px;
  }

  .sign-up-title::after {
    margin-top: 12px;
  }

  .radio-input:checked+.radio-content .radio-control {
    background-size: 24px;
  }

  .radio-control {
    width: 26px;
    height: 26px;
    top: 6px;
  }

  .radio {
    padding-right: 30px;
  }

}


@media screen and (max-width: 640px) {

  .page {
    margin-top: 54px;
    padding: 9% 7%;
    min-width: 330px;
  }

  .popup {
    right: 4%;
    left: 4%;
    /* bottom: 10%; */
    width: 91vw;
    height: 100vh;
  }

  .sign-up-title {
    font-size: 16px;
  }

  .form-group {
    padding-bottom: 11%;
  }
}






@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", sans-serif;
  list-style-type: none;
}

.a {
  text-decoration: none;
}

.header {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  background-size: cover;
  position: relative;
  padding-bottom: 125px;
}

.header::before {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.header-container {
  position: relative;
  width: 85%;
  max-width: 1200px;
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 100px;
  line-height: 105%;
  text-transform: uppercase;
}

.logo {
  width: 179px;
}

.logo-mobile {
  display: none;
}

.nav-item {
  margin-right: 30px;
  display: inline-block;
}

.nav-item:nth-last-child(1) {
  margin-right: 0px;
}

.header-link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

.header-link:hover {
  text-decoration: underline;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  line-height: 170%;
  text-align: center;
  max-width: 680px;
  font-size: 45px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: block;
}

.streak {
  position: relative;
  margin-top: 64px;
  margin-bottom: 64px;
}

.cardsall-streak {
  display: flex;
  position: relative;
  width: 100%;
}

.streak-tags {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}

.streak-tag {
  margin-right: 20px;
  font-weight: 700;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14px;
}

.streak-title,
.goods-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

.streak-title::after,
.goods-title::after {
  content: '';
  width: 66px;
  height: 3px;
  opacity: 0.4;
  background-color: #b59f5b;
  margin: 14px auto 28px auto;
  display: block;
}

.card-streak {
  width: 25%;
  min-height: 320px;
  margin-right: 4px;
  display: flex;
  position: relative;
  padding: 0 20px 15px 20px;
  flex: 0 1 25%;
  align-items: flex-end;
}

.card-streak:nth-last-child(1) {
  margin-right: 0px;
}

.card-streak-first {
  background: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-streak-second {
  background: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-streak-third {
  background: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-streak-fourth {
  background: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-streak::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.box-streak {
  border: #b59f5b solid 3px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  font-family: "OpenSans", sans-serif;
  padding: 2.2em;
}

.name-streak {
  text-transform: uppercase;
  text-align: left;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
}

.name-streak-link {
  text-decoration: none;
  color: #ffffff;
}

.main-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto 65px auto;
  position: relative;
}

.posts {
  width: 778px;
  font-family: "OpenSans", sans-serif;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.post:nth-child(n + 2) {
  margin-top: 60px;
}

.card-img {
  width: 381px;
}

.card-content {
  width: 367px;
}

.card-tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 6px;
  margin-top: -6px;
  list-style-type: none;
}

.card-tag:nth-child(n + 2) {
  margin-left: 15px;
}

.card-link,
.streak-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
}

.card-link:hover,
.streak-link:hover {
  text-decoration: underline;
}

.card-title {
  margin-bottom: 24px;
  text-transform: uppercase;
  text-align: left;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
}

.card-title-link {
  text-decoration: none;
  color: #000000;
}

.card-title-link:hover,
.name-streak-link:hover {
  color: #b59f5b;
}

.title-footer {
  padding-bottom: 48px;
}

.date {
  font-size: 12px;
  font-weight: 400;
  color: #9b9b9b;
  margin-right: 12px;
}

.author {
  display: inline-block;
  color: #000000;
  font-weight: 700;
  font-size: 12px;
  font-style: normal;
  text-align: left;
}

.card-description {
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  color: #000000;
  line-height: 22px;
  line-height: 145%;
}

.card-description>p:not(:first-child) {
  margin-top: 14px;
}

.sidebar {
  max-width: 270px;
}

.new-post-pic {
  width: 70px;
  height: 70px;
}

.new-posts-title {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
  margin-top: -6px;
}

.new-posts-title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

.new-posts-link {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.new-post-card {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 22px;
}

.new-post-card:last-child {
  margin-bottom: 40px;
}

.new-post-text {
  padding-left: 19px;
  line-height: 16px;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

.date {
  font-size: 12px;
  font-weight: 400;
  color: #9b9b9b;
}

.new-post-link {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  line-height: 97%;
}

.new-post-link:hover {
  color: #b59f5b;
}

.search-form {
  display: flex;
  margin-bottom: 48px;
  width: 100%;
}

.search-field {
  border: none;
  height: 48px;
  width: 224px;
  background-color: #f4f7f6;
  padding-left: 20px;
  padding-right: 10px;
  outline: none;
}

.search-field:focus {
  outline: rgba(181, 159, 91, 0.5) solid 2px;
}

.input-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-button {
  background-image: url(../svg/search.svg);
  border: none;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
  cursor: pointer;
}

.search-button:hover {
  background-color: #000000;
}

.search-button-desc {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mailing {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 44px;
}

.mailing-title {
  padding: 0 0 22px 0;
  margin-top: -3px;
}

.mailing-title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

.mailing-text {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: none;
}

.email {
  box-sizing: border-box;
  width: 272px;
  height: 48px;
  background-color: #f4f7f6;
  margin-bottom: 17px;
  font-weight: normal;
  font-size: 13px;
  color: #a2a4a3;
  padding: 0 15px;
  border: 0;
}

.email:focus {
  outline: 2px solid rgba(181, 159, 91, 0.5);
}

.subscribe-button {
  border: none;
  width: 272px;
  height: 48px;
  background-color: #b59f5b;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #000000;
}

.tags {
  text-align: center;
  margin-bottom: 42px;
}

.tags-title {
  margin-bottom: 20px;
}

.tags-title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

.tags-text {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: none;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  width: 272px;
}

.tags-list-item {
  margin: 4px 10px 0 0;
}

.tags-item-link {
  color: #0f0d0e;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  text-transform: uppercase;
  display: block;
  padding: 4px 12px;
  border: #eee 3px solid;
  text-decoration: none;
}

.tags-item-link:hover {
  border-color: #b59f5b;
}

.theme {
  text-align: center;
}

.theme-title {
  margin-bottom: 10px;
}

.theme-title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

.theme-text {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: none;
}

.theme-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 2px;
  width: 272px;
}

.theme-list-item {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding-top: 7px;
  padding-bottom: 12px;
  border-bottom: #eee 2px solid;
}

.theme-list-link {
  color: #000000;
  text-decoration: none;
}

.theme-list-link:hover {
  color: #b59f5b;
}

.count {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
  padding-left: 5px;
  vertical-align: super;
}

.goods {
  width: 1200px;
  margin: 0 auto 65px auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.goods-items {
  display: flex;
  justify-content: space-between;
}

.goods-item {
  flex: 0 1 29%;
  display: flex;
  flex-direction: column;
}

.card-text-goods {
  position: relative;
  z-index: 1;
  margin-top: -30px;
  border: 3px solid rgba(181, 159, 91, 0.6);
  padding: 53px 23px 27px 23px;
  flex: 1;
}

.card-text-title-goods {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.card-text-content-goods {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
}

.content-link-goods {
  text-decoration: none;
  color: #b59f5b;
}

.content-link-goods:hover {
  text-decoration: underline;
}

.shop-price-goods {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-style: normal;
  align-items: center;
}

.shop-value-value {
  padding-top: 20px;
}

.shop-sale {
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  line-height: 1;
}

.shop-value {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  line-height: 1;
}

.button-goods {
  background-color: #b59f5b;
  border: 0;
  height: 48px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  min-width: 140px;
  text-decoration: none;
  padding: 15px 30px;
}

.shop-img {
  margin: 0 auto;
  width: 87%;
  display: block;
}

.footer-box {
  position: relative;
  min-height: 230px;
}

.footer {
  height: 170px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 85%;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 75px;
  background-color: #f4f7f6;
}

.socials-icon {
  width: 25px;
  height: 20px;
  margin: 0 12px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.socials-logo {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  padding: 30px 15px;
}

.socials-logo-dribbble {
  background-image: url(../svg/001-dribbble.svg);
}

.socials-logo-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.socials-logo-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright {
  margin-bottom: 40px;
}

.copyright-link {
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  text-align: center;
  color: #999;
}

.menu-burger {
  display: none;
}


@media screen and (min-width: 641px) and (max-width: 1199px) {
  .container,
  .header-container {
    width: 91%;
    padding-left: 0;
    padding-right: 0;
    max-width: 1200px;
  }

  .card-content {
    width: 100%;
  }

  .header {

    background-image: url(../images/banner-bg-tablet.jpg);
    z-index: 0;
  }

  .header-container {
    padding: 40px 0 125px;
  }

  .header-top {
    padding: 0;
    margin: 0;
  }

  .title {
    width: 89%;
    max-width: 600px;
    margin: 84px auto -10px auto;
    font-size: 40px;
    line-height: 1.4;
  }

  .streak {
    margin-top: 50px;
    margin-bottom: 43px;
  }

  .streak-title {
    font-size: 18px;
  }

  .card-streak {
    flex-basis: calc(50% - 4px);
    margin-bottom: 4px;
    min-height: 248px;
  }

  .posts {
    flex-grow: 1;
  }

  .sidebar {
    flex-shrink: 0;
  }

  .post {
    display: block;
    margin-right: 35px;
  }

  .card-img {
    width: 100%;
  }

  .card-title {
    margin-bottom: 25px;
    line-height: 1.2;
    font-size: 17px;
  }

  .title-footer {
    padding-bottom: 26px;
  }

  .card-tags {
    padding-top: 14px;
  }

  .card-tag:nth-child(n + 2) {
    margin-left: 20px;
  }

  .cardsall-streak {
    flex-wrap: wrap;
  }

  .box-streak {
    padding: 2em;
  }

  .name-streak-link {
    font-size: 17px;
  }

  .streak-title::after,
  .goods-title::after {
    margin-bottom: 16px;
  }

  .main-container {
    margin: 0 auto;
  }

  .goods-title,
  .card-text-title-goods {
    font-size: 18px;
  }

  .goods-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .goods-item {
    margin-bottom: 15px;
    margin-top: 10px;
    flex: 0 1 calc(50% - 13.5px);
  }
}


@media screen and (max-width: 1199px) {
  .menu {
    display: none;
  }

  .card-content::after {
    content: "";
    display: block;
    margin-top: 23px;
    margin-bottom: 40px;
    width: 100%;
    height: 3px;
    background-color: rgba(122, 122, 122, 0.2);
  }

  .menu-burger {
    display: block;
    width: 1.25em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 20px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .menu-burger-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .menu-burger:before,
  .menu-burger:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }

  .menu-burger:before {
    top: 0;
  }

  .menu-burger:after {
    bottom: 0;
  }

  .header {
    padding-bottom: 0;
  }

  .logo {
    width: 160px;
  }

  .goods-item:nth-last-child(1) {
    margin-bottom: 0;
  }

  .footer-box {
    margin-top: -10px;
    width: auto;
  }

  .copyright-link {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
  }

  .socials {
    margin-bottom: 50px;
  }

  .card-text-goods {
    padding: 46px 20px 27px 20px;
  }

  .post {
    display: block;
    margin-right: 35px;
  }

  .post:nth-child(n + 2) {
    margin-top: 0px;
  }
}


@media screen and (max-width: 640px) {
  .header {
    min-height: 640px;
    background-image: url(../images/banner-mobile.jpg);
  }

  .header-container {
    margin: 0 auto;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .header-top {
    justify-content: flex-end;
    width: 96%;
    padding-bottom: 0;
    padding-top: 30px;
  }

  .logo {
    display: none;
  }

  .logo-img {
    width: 270px;
  }

  .logo-mobile {
    display: block;
    text-align: center;
    width: 75%;
    margin: 175px auto 0 auto;
  }

  .title {
    max-width: 270px;
    margin: 30px auto 0 auto;
    font-size: 25px;
    line-height: 1.4;
  }

  .streak-title {
    font-size: 16px;
  }

  .streak {
    margin-top: 43px;
    margin-bottom: 43px;
  }

  .streak-title::after,
  .goods-title::after {
    margin: 12px auto 24px auto;
  }

  .cardsall-streak {
    display: block;
  }

  .card-streak {
    width: 100%;
    min-height: 230px;
    margin-bottom: 4px;
    padding: 1em;
  }

  .name-streak {
    font-size: 16px;
    line-height: inherit;
    margin-bottom: 0.5em;
  }

  .box-streak {
    padding: 2em 1em 1em 1em;
  }

  .main-container,
  .post,
  .goods-items {
    display: block;
    width: 100%;
    padding: 0;
  }

  .card-img {
    width: 100%;
  }

  .posts {
    width: 91%;
    margin: auto;
    margin-bottom: 70px;
  }

  .card-content {
    width: 100%;
  }

  .card-tags {
    margin-bottom: 0.4em;
    margin-top: 0.4em;
  }

  .card-title {
    margin-bottom: 0.8em;
    line-height: 1.3;
    font-size: 16px;
  }

  .title-footer {
    padding-bottom: 0.8em;
  }

  .card-description {
    font-size: 0.82rem;
  }

  .card-content>.card-description>.card-description-bonus {
    margin-top: 0.4em;
  }

  .sidebar {
    display: block;
    width: 100%;
    margin: auto;
    min-width: 330px;
    padding: 0 5%;
  }

  .sidebar {
    max-width: 100%;
  }

  .new-posts-link {
    font-size: 16px;
  }

  .new-posts-title {
    margin-bottom: 26px;
  }

  .search {
    max-width: 100%;
  }

  .email {
    width: 100%;
  }

  .subscribe-button {
    width: 100%;
  }

  .search-group {
    width: 100%;
  }

  .theme-list {
    width: 100%;
  }

  .search-form {
    margin-bottom: 30px;
  }

  .search-field {
    width: 100%;
  }

  .mailing-text {
    font-size: 1rem;
  }

  .mailing {
    margin-bottom: 30px;
  }

  .tags-text {
    font-size: 1rem;
  }

  .tags-list-item {
    margin: 3px 6px 0 0;
  }

  .tags-list {
    width: 100%;
  }

  .tags {
    margin-bottom: 30px;
  }

  .theme-text {
    font-size: 1rem;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .goods {
    margin-top: 50px;
  }

  .goods-title {
    font-size: 1rem;
  }

  .card-text-title-goods {
    font-size: 1rem;
  }

  .goods-item {
    margin-top: 24px;
  }

  .main {
    margin-bottom: 40px;
  }
}